@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Identity
@using MusicTube.Domain.Identity
@inject UserManager<MusicTubeUser> UserManager
@inject SignInManager<MusicTubeUser> SignInManager
@model IEnumerable<MusicTube.Domain.Domain.Album>

@{
    ViewData["Title"] = "Albums";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Create Album - Music Tube</title>

    <!--    JQuery Import   -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!--    Bootstrap CSS Import   -->
    <link rel="stylesheet" href="~/custom/css/bootstrap.css" />

    <!--    Font Awesome CSS Import   -->
    <link rel="stylesheet" href="~/custom/fontawesome/css/all.css">

    <!--    Bootstrap JS Imports   -->
    <script src="~/custom/js/bootstrap.js"></script>

    <!--    DataTables Imports   -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
</head>

@{
    var user = UserManager.GetUserAsync(User).Result;
}

<div class="row my-5">
    <div class="col-3">
        <form asp-controller="Albums" asp-action="ExportAllAlbums" method="post">
            <div class="row mt-3">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary btn-block">
                        Export All Albums
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-4"></div>
    <div class="col-5">
        <form asp-controller="Albums" asp-action="ExportAlbumsByGenre" method="post">
            <div class="row mt-3">
                <div class="col-6">
                    <select class="form-control" id="genre" name="genre" asp-items="Html.GetEnumSelectList<MusicTube.Domain.Enumerations.Genre>()">
                    </select>
                </div>
                <div class="col-6">
                    <button type="submit" class="btn btn-info btn-block">
                        Export by Genre
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

@if (SignInManager.IsSignedIn(User) && UserManager.GetUserAsync(User).Result != null && User.IsInRole("Creator")) // if is a premium user
{
    if (((Creator)user).PremiumPlanId != null)
    {
        <div class="row mt-3">
            <div class="col-12">
                <a asp-controller="Albums" asp-action="Create" class="btn btn-primary btn-block">Add Album</a>
            </div>
        </div>
    }
    else
    {
        <div class="row mt-3">
            <div class="col-12">
                <h5 class="text-warning">You have to buy a <a class="text-warning font-weight-bold" asp-controller="Account" asp-action="PremiumPlan">subscription plan</a> to uplaod albums.</h5>
            </div>
        </div>
    }
}

<div class="row">
    <div class="col-12">
        <p class="text-danger">@ViewBag.error</p>
    </div>
</div>

<div class="container rounded my-5 px-5 py-4 bg-light">
    <div class="row">
        <table id="albumsTable" class="table">
            <thead class="thead-light">
                <tr>
                    <th></th>
                    <th scope="col">Name</th>
                    <th scope="col">Arranger</th>
                    <th scope="col">Composer</th>
                    <th scope="col">Mix & Master Engineer</th>
                    <th scope="col">Producer</th>
                    <th scope="col">Genre</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="text-dark">
                @for (int i = 0; i < Model.Count(); i++)
                {
                    var item = Model.ElementAt(i);

                    <tr class="align-items-center my-1" style="width: 100px; height: 100px;">
                        <td>
                            <button type="button" data-toggle="modal" data-target=".bd-example-modal-sm-@i">
                                <img src="@item.AlbumCoverArt" width="100" height="100" />
                            </button>

                            <div class="modal fade bd-example-modal-sm-@i" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-sm modal-dialog-centered">
                                    <div class="modal-content">
                                        <img src="@item.AlbumCoverArt" style="width: 700px; height: 700px; margin-left: -215px;" />
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="align-middle">@item.AlbumName</td>
                        <td class="align-middle">@item.AlbumArranger</td>
                        <td class="align-middle">@item.AlbumComposer</td>
                        <td class="align-middle">@item.AlbumMixMasterEngineer</td>
                        <td class="align-middle">@item.AlbumProducer</td>
                        <td class="align-middle">
                            @item.AlbumGenre
                        </td>
                        <td class="align-middle text-center">

                            @if (User.IsInRole("Creator") && item.PremiumUserId.Equals(((Creator)user).PremiumPlanId))
                            {
                                <div class="row mb-2">
                                    <div class="col-12">
                                        <a type="submit" class="btn btn-info btn-block"
                                           asp-controller="Albums" asp-route-albumId="@item.Id"
                                           asp-action="ViewSongs">
                                            <i class="fas fa-play"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <a type="submit" class="btn btn-danger btn-block"
                                           asp-controller="Albums" asp-route-albumId="@item.Id"
                                           asp-action="Delete">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="row">
                                    <div class="col-12">
                                        <a asp-controller="Albums" asp-route-albumId="@item.Id"
                                           asp-action="ViewSongs" class="btn btn-info btn-block">
                                            <i class="fas fa-play"></i>
                                        </a>
                                    </div>
                                </div>

                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
<div class="mb-5"></div>

<script>
    $(document).ready(function () {
        $.noConflict();

        $("#albumsTable").DataTable();
    });
</script>