@model IEnumerable<MusicTube.Domain.Domain.Song>

@{
    ViewData["Title"] = "Songs - Music Tube";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="UTF-8">

    <!--    JQuery Import   -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!--    Bootstrap CSS Import   -->
    <link rel="stylesheet" href="~/custom/css/bootstrap.css" />

    <!--    Font Awesome CSS Import   -->
    <link rel="stylesheet" href="~/custom/fontawesome/css/all.css">

    <!--    Bootstrap JS Imports   -->
    <script src="~/custom/js/bootstrap.js"></script>
</head>

@if (User.IsInRole("Creator"))
{
    <a asp-controller="Songs" asp-action="Create" class="btn btn-block btn-primary my-5">
        Add Song
    </a>
}

<div class="row my-5">
    @{
        if (Model.Count() != 0)
        {
            for (int i = 0; i < Model.Count(); i++)
            {
                var item = Model.ElementAt(i);

                <div class="col-4 mb-4">
                        <div class="card bg-secondary">
                            <div class="view">
                                <img class="card-img-top" height="230" src="~/custom/img/profile-pictures/@item.Creator.ImageURL"
                                     alt="Card image cap">
                            </div>

                            <div class="card-body text-center align-items-bottom">
                                <h5 class="font-weight-bold text-white">@item.Name - @item.Creator.ArtistName</h5>
                                <p class="mb-0 text-light">@item.Description</p>

                                <audio class="mt-3" controls type="audio/mpeg">
                                    <source src="~/custom/files/audio/@item.AudioURL">
                                </audio>
                            </div>

                            <div class="card-footer" style="background-color: #51575c;">
                                <div class="row">
                                    @if (User.IsInRole("Creator") && item.Creator.Email.Equals(User.Identity.Name))
                                    {

                                        @if (item.AlbumId == null)
                                        {
                                            <div class="col-6">
                                                <a class="btn btn-info btn-block" asp-controller="Songs" asp-action="AddSongToAlbum" asp-route-songId="@item.Id">Add to album</a>
                                            </div>
                                            <div class="col-6">
                                                <a class="btn btn-danger btn-block" asp-controller="Songs" asp-action="Delete" asp-route-songId="@item.Id">Delete Song</a>
                                            </div>
                                        }
                                        else // if its not in an album
                                        {
                                            <div class="col-12">
                                                <a class="btn btn-danger btn-block" asp-controller="Songs" asp-action="Delete" asp-route-songId="@item.Id">Delete Song</a>
                                            </div>
                                        }

                                    }
                                    else if (User.IsInRole("Creator"))
                                    {
                                        <div class="col-12">
                                            <a class="btn btn-info btn-block" asp-controller="Songs" asp-action="AddSongToAlbum" asp-route-songId="@item.Id">Give feedback</a>
                                        </div>
                                    }
                                    else if (User.IsInRole("Listener"))
                                    {
                                        <div class="col-6">
                                            <a class="btn btn-info btn-block" asp-controller="Songs" asp-action="AddSongToAlbum" asp-route-songId="@item.Id">Give feedback</a>
                                        </div>
                                        <div class="col-6">
                                            <a class="btn btn-warning btn-block" asp-controller="Songs" asp-action="ReviewSong" asp-route-songId="@item.Id">Give Review</a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                </div>
            }
        }

    }
</div>
