@model IEnumerable<MusicTube.Domain.Domain.Song>

@{
    ViewData["Title"] = "Songs - Music Tube";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="UTF-8">

    <!--    JQuery Import   -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!--    Bootstrap CSS Import   -->
    <link rel="stylesheet" href="~/custom/css/bootstrap.css" />

    <!--    Font Awesome CSS Import   -->
    <link rel="stylesheet" href="~/custom/fontawesome/css/all.css">

    <!--    Bootstrap JS Imports   -->
    <script src="~/custom/js/bootstrap.js"></script>
</head>

<style>
    .checked {
        color: orange;
    }
</style>

<script>

    $(document).ready(function () {

        /* $(".star").hover(function () {

            var valueCurrentStar = $(this).attr('star-id');

            $(this).removeClass('btn-outline-dark');
            $(this).addClass('btn-outline-warning');

            $(".star").each(function () {
                if ($(this).attr('star-id') <= valueCurrentStar)
                    $(this).addClass('btn-outline-warning');
            })
        }, function () {
            $(".star").each(function () {
                $(this).removeClass('btn-outline-warning');
            })
        }); */

        $(".rating").on('input', function () {
            var valueCurrentStar = $(this).val();

            $(".star").each(function () {
                $(this).removeClass('checked');
            });

            $(".star").each(function () {
                if ($(this).attr('star-id') <= valueCurrentStar)
                    $(this).addClass('checked');
            });

        });
    })

</script>

<div class="row mt-5">
    <!-- Search bar -->
    <div class="col-4">
        <form asp-controller="Songs" asp-action="SearchSongs" method="post">
            <div class="input-group">
                <div class="input-group">
                    <input id="text" name="text" type="text" class="form-control" placeholder="Search for songs...">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-info">
                            &nbsp; &nbsp; &nbsp;<i class="fa fa-search"></i> &nbsp; &nbsp; &nbsp;
                        </button>
                    </span>
                </div>
            </div>
        </form>
    </div>

    <div class="col-4"></div>

    <!-- Filters -->
    <div class="col-2">
        <form asp-controller="Songs" asp-action="FilterSongs" method="post">

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-block btn-info" data-toggle="modal" data-target="#filters">
                <i class="fas fa-filter"></i> Filters
            </button>

            <!-- Modal -->
            <div class="modal fade" id="filters" tabindex="-1" role="dialog" aria-labelledby="dietFiltersTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered text-dark" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="dietFiltersHeader">Song Filters</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="row align-middle mb-4">
                                <div class="col-4 text-left pt-2">
                                    By Genre:
                                </div>
                                <div class="col-8">
                                    <div>
                                        <select class="form-control" name="genreFilter" id="genreFilter" asp-items="Html.GetEnumSelectList<MusicTube.Domain.Enumerations.Genre>()">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-middle">
                                <div class="col-4 text-left pt-2">
                                    By Name:
                                </div>
                                <div class="col-8">
                                    <div class="form-group">
                                        <input id="nameFilter" name="nameFilter" type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row align-middle">
                                <div class="col-4 text-left pt-2">
                                    By Description:
                                </div>
                                <div class="col-8">
                                    <div class="form-group">
                                        <input id="descriptionFilter" name="descriptionFilter" type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row align-middle">
                                <div class="col-4 text-left pt-2">
                                    By Label:
                                </div>
                                <div class="col-8">
                                    <div class="form-group">
                                        <input id="labelFilter" name="labelFilter" type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <!-- Sort -->
    <div class="col-2">
        <form asp-controller="DietPlans" asp-action="SortDiets" method="post">

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-block btn-info" data-toggle="modal" data-target="#sort">
                <i class="fas fa-sort"></i> Sort
            </button>

            <!-- Modal -->
            <div class="modal fade" id="sort" tabindex="-1" role="dialog" aria-labelledby="sortTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="sortTitleHeader">Sort Diet Plans</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-check mb-2">
                                            <input class="form-check-input" name="sortCondition" type="radio" value="0" id="rating">
                                            <label class="form-check-label" for="rating">
                                                By Rating
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" name="sortCondition" type="radio" value="1" id="popularity">
                                            <label class="form-check-label" for="popularity">
                                                By Popularity
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@if (User.IsInRole("Creator"))
{
    <a asp-controller="Songs" asp-action="Create" class="btn btn-block btn-primary my-5">
        Add Song
    </a>
    <h5 class="text-danger">@ViewBag.error</h5>
}

<div class="row my-5">
    @{
        if (Model.Count() != 0)
        {
            for (int i = 0; i < Model.Count(); i++)
            {
                var item = Model.ElementAt(i);

                <div class="col-4 mb-4">
                    <div class="card bg-secondary">
                        <div class="view">
                            <img class="card-img-top" height="230" src="~/custom/img/profile-pictures/@item.Creator.ImageURL"
                                 alt="Card image cap">
                        </div>

                        <div class="card-body text-center align-items-bottom">
                            <div style="height:100px;">
                                <h5 class="font-weight-bold text-white">@item.Name - @item.Creator.ArtistName</h5>
                                @if (item.AlbumId != null)
                                {
                                    <h6 class="text-warning">Song is part of <b>@item.Album.AlbumName</b> album</h6>
                                }
                                <p class="mb-0 text-light">@item.Description</p>
                            </div>

                            <audio class="mt-3" controls type="audio/mpeg">
                                <source src="~/custom/files/audio/@item.AudioURL">
                            </audio>
                        </div>

                        <div class="card-footer" style="background-color: #51575c;">
                            <div class="row">
                                @if (User.IsInRole("Creator") && item.Creator.Email.Equals(User.Identity.Name))
                                {

                                    @if (item.AlbumId == null)
                                    {
                                        <div class="col-6">
                                            <a class="btn btn-info btn-block" asp-controller="Songs" asp-action="AddSongToAlbum" asp-route-songId="@item.Id">Add to album</a>
                                        </div>
                                        <div class="col-6">
                                            <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#deleteModal-@item.Id">
                                                Delete
                                            </button>
                                        </div>
                                    }
                                    else // if its not in an album
                                    {
                                        <div class="col-12">
                                            <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#deleteModal-@item.Id">
                                                Delete
                                            </button>
                                        </div>
                                    }

                                }
                                else if (User.IsInRole("Creator"))
                                {
                                    <div class="col-12">
                                        <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#feedbackModal-@item.Id">
                                            Give Feedback
                                        </button>
                                    </div>
                                }
                                else if (User.IsInRole("Listener"))
                                {
                                    <div class="col-6">
                                        <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#feedbackModal-@item.Id">
                                            Give Feedback
                                        </button>
                                    </div>
                                    <div class="col-6">
                                        <button type="button" class="btn btn-warning btn-block" data-toggle="modal" data-target="#reviewModal-@item.Id">
                                            Give Review
                                        </button>
                                    </div>
                                }

                                <!-- Modal Feedback -->
                                <div class="modal fade" id="feedbackModal-@item.Id" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <form method="post" asp-controller="Songs" asp-action="GiveFeedback">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title text-dark" id="exampleModalLabel">Rate the song <b class="text-warning">@item.Name</b></h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body text-dark">
                                                    <div class="form-group">
                                                        <div class="btn-group my-2" data-toggle="buttons">
                                                            <input hidden class="songId" name="songId" value="@item.Id" />
                                                            <label class="btn btn-primary mr-3">
                                                                <input type="radio" value="true" name="liking" id="like-@item.Id"> Like
                                                            </label>
                                                            <label class="btn btn-secondary">
                                                                <input type="radio" value="false" name="liking" id="like-@item.Id"> Dislike
                                                            </label>
                                                        </div>
                                                        <textarea placeholder="Add a comment..." class="form-control my-1" rows="3" id="comment" name="comment"></textarea>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary">
                                                        Save Changes
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <!-- Modal Review -->
                                <div class="modal fade" id="reviewModal-@item.Id" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <form method="post" asp-controller="Songs" asp-action="GiveReview">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title text-dark" id="exampleModalLabel">Create Review for <b class="text-warning">@item.Name</b></h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body text-dark">
                                                    <div class="form-group">
                                                        <input hidden class="songId" name="songId" value="@item.Id" />
                                                        <input class="form-control my-3 summary" name="summary" placeholder="Summary..." />
                                                        <textarea placeholder="Description..." name="description" class="form-control my-1 description" rows="5"></textarea>
                                                        <input class="form-control my-3 rating" name="rating" placeholder="Rating [1 - 5]..." />
                                                    </div>
                                                    <div class="star-rating text-center" style="font-size: 30px;">
                                                        <label value="1" class="btn mr-1 star" star-id="1">
                                                            <i class="fas fa-star"></i>
                                                        </label>
                                                        <label class="btn mr-1 star" star-id="2">
                                                            <i class="fas fa-star"></i>
                                                        </label>
                                                        <label class="btn mr-1 star" star-id="3">
                                                            <i class="fas fa-star"></i>
                                                        </label>
                                                        <label class="btn mr-1 star" star-id="4">
                                                            <i class="fas fa-star"></i>
                                                        </label>
                                                        <label class="btn mr-1 star" star-id="5">
                                                            <i class="fas fa-star"></i>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary">
                                                        Save Changes
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <!-- Modal Delete -->
                                <div class="modal fade" id="deleteModal-@item.Id" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title text-dark" id="exampleModalLabel">Delete Song <b class="text-warning">@item.Name</b></h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body text-dark">
                                                Are you sure you want to delete this song? It will also be removed from the album it is in.
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <a asp-controller="Songs" asp-action="Delete" asp-route-songId="@item.Id" class="btn btn-danger">
                                                    Delete Song
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                @{
                                    var averageRating = 0.0;
                                    if (item.Reviews != null && item.Reviews.Count != 0)
                                        averageRating = item.Reviews.Average(z => z.Rating);
                                }
                                <div class="col-12 text-center mt-3" style="font-size: 25px;">
                                    @for (var r = 1; r <= (int)averageRating; r++)
                                    {
                                        <span>
                                            <i class="fas fa-star checked mr-2"></i>
                                        </span>
                                    }
                                    @for (var r = 1; r <= (5 - (int)averageRating); r++)
                                    {
                                        <span>
                                            <i class="fas fa-star mr-2"></i>
                                        </span>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

    }
</div>
