@model MusicTube.Domain.DTO.DomainDTO.VideoDto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Edit Video - Music Tube</title>

    <!--    JQuery Import   -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!--    Bootstrap CSS Import   -->
    <link rel="stylesheet" href="~/custom/css/bootstrap.css" />

    <!--    Font Awesome CSS Import   -->
    <link rel="stylesheet" href="~/custom/fontawesome/css/all.css">

    <!--    Bootstrap JS Imports   -->
    <script src="~/custom/js/bootstrap.js"></script>
</head>

<h1 class="text-center mt-5">Edit Video - @Model.Name</h1>
<br />
<div class="row mb-5">
    <div class="col-md-12">
        <form asp-controller="Videos" asp-action="Edit" method="post">

            <input hidden asp-for="@Model.Id" />

            <div class="form-group text-center">
                <video class="mt-4 mb-2" width="520" height="350" controls type="audio/mpeg">
                    <source src="~/custom/files/audio/@Model.VideoURL">
                </video>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-12">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" value="@Model.Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group col-12">
                <label asp-for="Label" class="control-label"></label>
                <input asp-for="Label" value="@Model.Label" class="form-control" />
                <span asp-validation-for="Label" class="text-danger"></span>
            </div>
            <div class="form-group col-12">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" value="@Model.Description" rows="5" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group col-12">
                <label asp-for="Genre" class="control-label"></label>
                <div>
                    <select class="form-control" asp-for="@Model.Genre" asp-items="Html.GetEnumSelectList<MusicTube.Domain.Enumerations.Genre>()">
                    </select>
                    @Html.ValidationMessageFor(m => m.Genre)
                </div>
            </div>
            <div class="form-group col-12">
                <label>Song included in the video</label>
                @if (Model.SongId != null)
                {
                    @Html.DropDownListFor(z => z.SongId, new SelectList(Model.AllSongs, "Id", "Name", Model.Song.Name),
                                                                                                "Select the song this video has",
                                                                                                new { @class = "form-control" })
                }
                else
                {
                    @Html.DropDownListFor(z => z.SongId, new SelectList(Model.AllSongs, "Id", "Name"),
                                                                                                    "Select the album you want the song to appear on",
                                                                                                    new { @class = "form-control" })
                }
            </div>

            <br />
            <br />
            <div class="form-group col-12">
                <button type="submit" class="btn btn-block btn-primary">Submit</button>
            </div>
        </form>
        <div class="col-12 mt-4 mb-5">
            <a asp-controller="Videos" asp-action="Index" class="btn btn-outline-info btn-block">Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}