@model MusicTube.Domain.DTO.IdentityDTO.UserSettingsDto
@using MusicTube.Domain.Identity

@{
    ViewData["Title"] = "User Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="UTF-8">

    <!--    JQuery Import   -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!--    Bootstrap CSS Import   -->
    <link rel="stylesheet" href="~/custom/css/bootstrap.css" />

    <!--    Font Awesome CSS Import   -->
    <link rel="stylesheet" href="~/custom/fontawesome/css/all.css">

    <!--    Bootstrap JS Imports   -->
    <script src="~/custom/js/bootstrap.js"></script>
</head>

<div class="container my-4">
    @Html.ValidationSummary()

    <div class="container px-5 my-5 pb-5" style="border-radius: 10px;">

        <h4 class="text-light">Personal Information</h4>
        <div class="bg-secondary mt-3 mb-4" style="height: 2px;"></div>

        <!-- Personal Information -->

        <form asp-action="SettingsProfilePicture" asp-controller="Account" method="post" enctype="multipart/form-data">
            <div class="row mb-4 mt-4">
                <div class="col-3 text-right">
                    <b class="text-right text-secondary">Profile Picture</b>
                </div>
                <div class="col-2 text-center">
                    <img class="rounded-circle border border-secondary" src="~/custom/img/profile-pictures/@Model.ImageURL" height="130" width="130" />
                </div>
                <div class="col-6 form-group">
                    <input id="file" name="file" type="file" accept="image/*" />
                    <p class="lead mt-1">Accpeted file types: .png, jpg</p>
                    <button type="submit" class="btn btn-secondary">Change Picture</button>
                </div>
            </div>
        </form>

        <form asp-action="SettingsPersonalInfo" asp-controller="Account" method="post">

            <div class="text-secondary">
                <div class="row form-group mb-4">
                    <div class="col-3 text-right">
                        <b>E-mail</b>
                    </div>
                    <div class="col-9">
                        <input id="email" name="email" type="text" disabled class="form-control" value="@Model.Mail" />
                        @Html.ValidationMessageFor(m => m.Mail)
                    </div>
                </div>

                <div class="row form-group mb-4">
                    <div class="col-3 text-right">
                        <b>First Name</b>
                    </div>
                    <div class="col-9">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="row form-group mb-4">
                    <div class="col-3 text-right">
                        <b>Last Name</b>
                    </div>
                    <div class="col-9">
                        <input asp-for="Surname" class="form-control" />
                        <span asp-validation-for="Surname" class="text-danger"></span>
                    </div>
                </div>

                <div class="row form-group mb-4">
                    <div class="col-3 text-right">
                        <b>Favourite Genre</b>
                    </div>
                    <div class="col-9">
                        <select class="form-control" asp-for="FavouriteGenre" asp-items="Html.GetEnumSelectList<MusicTube.Domain.Enumerations.Genre>()">
                        </select>
                        <span asp-validation-for="FavouriteGenre" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3 text-right">
                        <b>Favourite Artist</b>
                    </div>
                    <div class="form-group col-9 mb-4">
                        @if (Model.AllCreators.Count != 0)
                        {
                            if (Model.FavouriteArtist != null)
                            {
                                @Html.DropDownListFor(z => z.FavouriteArtistId, new SelectList(Model.AllCreators, "Id", "ArtistName", Model.FavouriteArtist.ArtistName),
                                                                                                "Select your favourite artist",
                                                                                                new { @class = "form-control" })
                            }
                            else
                            {
                                @Html.DropDownListFor(z => z.FavouriteArtistId, new SelectList(Model.AllCreators, "Id", "ArtistName"),
                                                                                                "Select your favourite artist",
                                                                                                new { @class = "form-control" })
                            }
                        }
                        else
                        {
                            <select class="form-control" asp-for="FavouriteArtistId">
                                <option value="0">Select your favourite artist</option>
                            </select>
                        }

                    </div>
                </div>
                <div class="row">
                    <div class="col-3">

                    </div>
                    <div class="col-9 form-group text-light">
                        <div class="row">
                            <div class="form-check col-5 ml-3">
                                <input asp-for="NewsletterSubscribed" class="form-check-input" type="radio" name="newsLetters" value="true" id="newslettersTrue">
                                <label class="form-check-label" for="newslettersTrue">
                                    Subscribed to newsletters
                                </label>
                            </div>
                            <div class="form-check col-6 text-left">
                                <input asp-for="NewsletterSubscribed" class="form-check-input" type="radio" name="newsLetters" value="false" id="newslettersFalse">
                                <label class="form-check-label" for="newslettersFalse">
                                    Unsubscribed to newsletters
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row form-group mb-5">
                    <div class="col-3">

                    </div>
                    <div class="col-9">
                        <button class="btn btn-info btn-block" type="submit">Change</button>
                    </div>
                </div>
            </div>

        </form>

        @if (Model.CurrentUser.GetType().Name.Equals("Creator"))
        {
            <h4 class="mt-1 text-light">Creator Information</h4>
            <div class="bg-secondary mt-3 mb-4" style="height: 2px;"></div>

            <!-- Creator Specific Information -->
    <form asp-action="SettingsCreatorInfo" asp-controller="Account" method="post">

        <div class="row form-group mb-4 text-secondary">
            <div class="col-3 text-right">
                <b>Artist Name</b>
            </div>
            <div class="col-9">
                <input asp-for="ArtistName" class="form-control" />
                <span asp-validation-for="ArtistName" class="text-danger"></span>
            </div>
        </div>

        <div class="row form-group mb-4">
            <div class="col-3 text-right text-secondary">
                <b>Artist Description</b>
            </div>
            <div class="col-9">
                <textarea rows="5" asp-for="ArtistDescription" class="form-control"></textarea>
                <span asp-validation-for="ArtistDescription" class="text-danger"></span>
            </div>
        </div>

        <div class="row form-group mb-2 mt-3 text-secondary">
            <div class="col-3 text-right">
                <b>Premium Plan</b>
            </div>
            <div class="col-9">
                @{ 
                    var isLimited = false;
                }
                @if (((Creator)Model.CurrentUser).PremiumPlanId == null)
                {
                    <div class="row">
                        <div class="col-6 text-left">
                            <span class="text-danger">You still haven't selected a premium plan</span>
                        </div>
                        <div class="col-6 text-left">
                            <a class="btn btn-outline-warning btn-block" asp-controller="Account" asp-action="PremiumPlan">
                                Get Premium Now
                            </a>
                        </div>
                    </div>
                }
                else
                {
            <div class="row">
                <div class="col-6 text-left">
                    <span class="text-warning">Your current premium plan is <b>@Model.PremiumPlan.SubscriptionPlan</b></span>
                </div>
                @{
                    var noAlbums = 0;
                    var infinite = false;
                    var currentAlbums = Model.PremiumPlan.Albums.Where(z => z.IsFromCurrentPlan == true).Count();
                    if (Model.PremiumPlan.SubscriptionPlan == MusicTube.Domain.Enumerations.SubscriptionPlan.BRONZE)
                        noAlbums = 2 - currentAlbums;
                    else if (Model.PremiumPlan.SubscriptionPlan == MusicTube.Domain.Enumerations.SubscriptionPlan.SILVER)
                        noAlbums = 5 - currentAlbums;
                    else if (Model.PremiumPlan.SubscriptionPlan == MusicTube.Domain.Enumerations.SubscriptionPlan.GOLD)
                        noAlbums = 15 - currentAlbums;
                    else if (Model.PremiumPlan.SubscriptionPlan == MusicTube.Domain.Enumerations.SubscriptionPlan.DIAMOND)
                        infinite = true;

                    if (noAlbums <= 0)
                    {
                        isLimited = true;
                        noAlbums = 0;
                    }

                    if (infinite)
                    {
                        <div class="col-6 text-left">
                            <p class="text-warning">
                                You have <b>infinite</b> album uploads left
                            </p>
                        </div>
                    }
                    else
                    {
                        <div class="col-6 text-left">
                            <p class="text-warning">
                                You have <b>@noAlbums</b> album uploads left
                            </p>
                        </div>
                    }
                }
            </div>
                }
            </div>
        </div>

        @if (Model.PremiumPlan != null && Model.PremiumPlan.SubscriptionPlan != MusicTube.Domain.Enumerations.SubscriptionPlan.DIAMOND && isLimited == true)
        {
            <div class="row">
                <div class="col-3"></div>
                <div class="col-9 mb-4 text-left">
                    <a class="btn btn-outline-warning btn-block" asp-controller="Account" asp-action="PremiumPlan">
                        Get a better Premium Plan Tier
                    </a>
                </div>
            </div>
        }

        <div class="row form-group mb-5">
            <div class="col-3 text-right text-secondary">
                <b>Fans</b>
            </div>
            <div class="col-9">
                <span class="text-light">
                    You have a total of <b class="text-light font-weight-bold">@(((Creator)Model.CurrentUser).Fans.Count)</b> fans
                </span>
            </div>
        </div>

        <div class="row form-group mb-5">
            <div class="col-3">

            </div>
            <div class="col-9">
                <button class="btn btn-info btn-block" type="submit">Change</button>
            </div>
        </div>

    </form>

            <!-- Media Content Information -->
            <h4 class="mt-1 text-light mb-4">Media Content</h4>

            <div class="row form-group mb-4">
                <div class="col-12">
                    <table class="table text-light">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Label</th>
                                <th scope="col">Genre</th>
                                <th scope="col">Rating</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (Model.Content != null && Model.Content.Count != 0)
                                {
                                    foreach (var media in Model.Content)
                                    {
                                        <tr class="align-middle">
                                            <td class="align-middle">@media.Name</td>
                                            <td class="align-middle">@media.Description</td>
                                            <td class="align-middle">@media.Label</td>
                                            <td class="align-middle">@media.Genre</td>
                                            <td style="font-size: 12.5px;" class="align-middle">
                                                @{
                                                    var averageRating = 0;
                                                    if (Model.Reviews != null && Model.Reviews.Count != 0)
                                                        averageRating = (int)media.Reviews.Average(z => z.Rating);

                                                    for (int i = 0; i < averageRating; i++)
                                                    {
                                                        <span class="fa fa-star checked" style="color: orange;"></span>
                                                    }
                                                    for (int i = 0; i < 5 - averageRating; i++)
                                                    {
                                                        <span class="fa fa-star text-light"></span>
                                                    }
                                                }
                                            </td>
                                            <td class="align-middle">
                                                <div class="row">
                                                    @if (media.GetType().Name.Equals("Song"))
                                                    {
                                                        <div class="col-6">
                                                            <a asp-controller="Songs" asp-action="Details" asp-route-songId="@media.Id" class="btn btn-outline-info btn-block">View</a>
                                                        </div>
                                                        <div class="col-6">
                                                            <a asp-controller="Songs" asp-action="Delete" asp-route-songId="@media.Id" class="btn btn-outline-danger btn-block">Delete</a>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="col-6">
                                                            <a asp-controller="Videos" asp-action="Details" asp-route-videoId="@media.Id" class="btn btn-outline-info btn-block">View</a>
                                                        </div>
                                                        <div class="col-6">
                                                            <a asp-controller="Videos" asp-action="Delete" asp-route-videoId="@media.Id" class="btn btn-outline-danger btn-block">Delete</a>
                                                        </div>
                                                    }

                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
        else
        {
            <h4 class="mt-1 mb-4 text-warning">Reviews</h4>

            <div class="row form-group mb-4">
                <div class="col-12">
                    <table class="table text-light">
                        <thead>
                            <tr>
                                <th scope="col">Summary</th>
                                <th scope="col">Description</th>
                                <th scope="col">Media</th>
                                <th scope="col">Rating</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (Model.Reviews != null && Model.Reviews.Count != 0)
                                {
                                    foreach (var review in Model.Reviews)
                                    {
                                        <tr>
                                            <td class="align-middle">@review.Summary</td>
                                            <td class="align-middle">@review.Description</td>
                                            <td class="align-middle">@review.Media.Name</td>
                                            <td class="align-middle" style="font-size: 14px;">
                                                @{
                                                    var averageRating = review.Rating;

                                                    for (int i = 0; i < averageRating; i++)
                                                    {
                                                        <span class="fa fa-star checked" style="color: orange;"></span>
                                                    }
                                                    for (int i = 0; i < 5 - averageRating; i++)
                                                    {
                                                        <span class="fa fa-star text-light"></span>
                                                    }
                                                }
                                            </td>
                                            <td class="align-middle">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <a asp-controller="Account" asp-action="RemoveReview" asp-route-reviewId="@review.Id" class="btn btn-outline-danger btn-block">Remove</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }

        <a class="btn btn-block btn-danger" asp-action="Logout" asp-controller="Account">
            Logout
        </a>


    </div>

</div>